<div class="editor-container" [ngClass]="{'floating-toolbar':floatingToolbar}">
  <div class="toolbar" #floatingBar [ngClass]="{hidden: !showToolbar}">
    <button (click)="setStyle({style: 'bold', tagNumber: 2})"><strong>B</strong></button>
    <button (click)="setStyle({style: 'italic', tagNumber: 2})"><em>i</em></button>
    <button (click)="setStyle({style: 'h1', tagNumber: 1})">H1</button>
    <button (click)="setStyle({style: 'h2', tagNumber: 1})">H2</button>
    <button (click)="setStyle({style: 'h3', tagNumber: 1})">H3</button>
  </div>
  <div class="text-content">
    <textarea placeholder="{{placeholder}}" id="editor" class="display" #rawMarkdown (keyup)="updateValue(rawMarkdown.value)"></textarea>
  </div>
</div>