@import '../../../core/shared/variables';
@import '../../../core/shared/shared';
.editor-container {
    position: relative;
    &.floating-toolbar {
        .toolbar {
            width: auto;
            border: 0;
            box-shadow: $img-box-shadow;
            border-radius: 4px;
            background: #fff;
        }
        .text-content {
            padding-top: 0;
            textarea {
                position: relative;
                border: 0;
                padding: 0;
            }
        }
    }
    .toolbar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
        border: 1px solid $toolbar-border;
        z-index: 999;
        visibility: visible;
        opacity: 1;
        transition: .3s all;
        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
        button {
            width: 40px;
            height: 100%;
            background: transparent;
            border: 0;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background: #f2f2f2;
            }
        }
    }
    .text-content {
        position: relative;
        width: 100%;
        height: 250px;
        padding-top: 40px;
        textarea {
            position: absolute;
            width: 100%;
            height: 100%;
            border-top: 0;
            outline: 0;
            font-size: 1em;
            padding: 20px;
            resize: none;
        }
    }
}