.form-container {
    width: 22%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    .form-control {
        padding: 1%;
        margin: 0 auto;
        text-align: center;
        transform: scale(1);
        visibility: visible;
        transition: .3s all;
        &.loading {
            opacity: .2;
        }
        .logo-form {
            padding: 0 0 26px;
            h1 {
                margin: 0px;
                font-family: 'Montserrat', sans-serif;
                font-size: 2.6em;
            }
            p {
                margin-top: 2%;
                font-size: .8em;
            }
        }
        .inputs-form {
            width: 100% !important;
            &.hide {
                transform: scale(0);
                visibility: hidden;
                height: 0;
            }
            input {
                width: 100%;
                padding: 3% 4%;
                margin-bottom: 2%;
                font-family: 'Raleway', sans-serif;
                font-size: .9em;
                border: 0;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
                transition: .1s all;
                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
                    outline: none;
                }
            }
            button {
                margin-top: 2% !important;
                width: 100%;
                padding: 3% 6%;
                font-size: 1.2em;
                font-weight: bold;
                background: #009688;
                color: #fff;
                border: 0;
                &:hover {
                    background: #009698;
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (max-width: 1480px) {
    .form-container {
        width: 30%;
    }
}

@media (max-width: 1300px) {
    .form-container {
        width: 34%;
    }
}

@media (max-width: 1024px) {
    .form-container {
        width: 40%;
        .form-control {
            .logo-form {
                h1 {
                    font-size: 2.2em;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .form-container {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .form-container {
        width: 80%;
    }
}