<div class="form-container">
    <form class="form-control" (ngSubmit)="login(username.value, password.value)" (click.key)="submit" [ngClass]="{loading: tryLogin}">
        <div class="logo-form">
            <h1>2rismapps</h1>
            <p>Somos la puta elite</p>
        </div>
        <div class="inputs-form" [ngClass]="{hide: loginSuccess}">
            <input type="email" #username placeholder="Enter your email">
            <input type="password" #password placeholder="Enter your password">
            <button autofocus type="submit">Login</button>
        </div>
    </form>
    <!--spinner-->
    <spinner *ngIf="tryLogin"></spinner>
    <!--icono de succes-->
    <success-icon *ngIf="loginSuccess"></success-icon>
</div>