.search-input {
    width: 100%;
    font-size: 1em;
    border: 0;
    padding: 14px 0;
    margin-top: 30px;
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    &:focus {
        outline: 0;
        border-bottom: 1px solid #000;
    }
}

.tagger-dropdrown {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .3);
    .tag{
        a {
            padding: 10px;
            cursor: pointer;
            display: block;
            &:hover, &:focus {
                background: #f2f2f2;
            }
        }
    }
}