<div class="tagger-container">
    <input class="search-input" maxlength="100" [(ngModel)]="query" placeholder="Add a tag">
    <div class="tagger-dropdrown" *ngIf="query">
        <div class="tag">
            <a #queryResult *ngFor="let tag of tagsArray | autocompleteTags : 'text': query" (click)="selectTag(tag)">{{tag.text}}</a>
        </div>
    </div>
</div>