.news {
    cursor: default;
    position: relative;
    word-wrap: break-word;
    &:hover {
        .config-news {
            transform: scale(1);
        }
    }
    .deleted {
        color: firebrick;
        vertical-align: sub;
    }
    .draft {
        color: #FAA524;
        vertical-align: sub;
    }
    .news-content {
        width: 100%;
        border-bottom: 0;
        display: block;
        font-family: 'Raleway', sans-serif;
        border-radius: 2px;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        transition: .3s all;
        .img {
            width: 100%;
            height: 320px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .news-description {
            padding: 4%;
            .title {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4em;
                font-weight: bold;
                text-transform: initial;
                padding-bottom: 1%;
            }
            .info {
                font-size: .8em;
                color: #888;
                padding-bottom: 14px;
            }
            .desc {
                font-size: 1em;
            }
        }
        .status-bar {
            position: relative;
            width: 100%;
            border-top: 1px solid #ddd;
            padding: 0 10px;
        }
        .tool {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
            position: relative;
            &:hover {
                background: #f2f2f2;
            }
            &.hide {
                display: none;
            }
        }
    }
}

@media(max-width: 600px) {
    .news {
        .news-content {
            width: 100%;
            .img {
                width: 100%;
                height: 170px;
                margin-bottom: 2%;
                text-align: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .news-description {
                padding: 2%;
                .title {
                    font-size: 1.2em;
                }
            }
        }
    }
}