<div class="news">
    <div class="news-content">
        <div class="img" #img *ngIf="news.mainImgUrl" [hidden]="!news.mainImgUrl"></div>
        <div class="news-description">
            <div class="title" [hidden]="!news.title">
                <i *ngIf="!news.published && !news.deleted" class="material-icons draft">warning</i>
                <i *ngIf="news.deleted" class="material-icons deleted">delete</i> {{news.title}}
            </div>
            <div class="info" [hidden]="!news.publishedAt && !news.categories">{{news.publishedAt | date : "dd/MM/yyyy"}}<span class="category" *ngFor="let category of news.categories"> · {{category[news.lang]}}</span></div>
            <div class="desc" [hidden]="!news.shortDescription">{{news.shortDescription}}</div>
        </div>
        <div class="status-bar">
            <div class="tool" *ngFor="let action of actions" [ngClass]="{hide: action.hide}">
                <span (click)="sendAction(action.key)"> {{action.text}} </span>
            </div>
            <div class="tool" [ngClass]="{hide: news.deleted || !news.published}">
                <span (click)="sendAction('draft')">Save as draft</span>
            </div>
            <div class="tool" [ngClass]="{hide: news.deleted || news.published}">
                <span (click)="sendAction('publish')">Publish</span>
            </div>
        </div>
    </div>
</div>