<div class="img-gallery">
  <masonry [options]="masonryOptions" [useImagesLoaded]="true">
    <masonry-brick class="gallery-item" *ngFor="let image of imagesList">
      <img [src]="imageBasePath + image.url" alt="news-images" (click)="setImageUrl(image)">
    </masonry-brick>
  </masonry>
</div>