@import '../../../core/shared/shared';
@import '../../../core/shared/variables';
.img-gallery {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    margin-bottom: 60px;
    transition: .3s all;
    .gallery-item {
        width: 33%;
        padding: 1%;
        position: relative;
        &:hover .icon {
            opacity: 1;
        }
        img {
            box-shadow: $img-box-shadow;
            width: 100%;
        }
    }
}