<div class="container">
    <div class="sidenav-container" [ngClass]="{'collapse': !navExpanded}">
        <div class="logo">
            <h3>2rismApps</h3>
        </div>
        <ul class="menu">
            <li class="item" *ngFor="let item of menuList" routerLinkActive="active" (click)="setNavExpandedValue(true)" routerLink="{{item.path}}"><span>{{item.key}}</span></li>
        </ul>
    </div>
    <div class="overlay" *ngIf="!navExpanded" (click)="toogleNavExpanded()"></div>
    <div class="sidecontent-container">
        <md-toolbar color="primary">
            <div class="menu-icon" (click)="toogleNavExpanded()" [ngClass]="{'change':!navExpanded}">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <span class="menu-right"></span>
            <span *ngFor="let icon of topBarIcons"><i class="material-icons">{{icon.key}}</i></span>
        </md-toolbar>
        <div class="main-content" [@slideRight]>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>