.container {
    width: 100%;
    .resposnive {
        display: none;
    }
    .main-content {
        width: 100%;
        padding: 2em 4em 0;
    }
    .sidecontent-container {
        float: left;
        height: 100%;
        padding-bottom: 40px;
        padding-left: 256px;
        width: 100%;
        margin-top: 80px;
        box-sizing: border-box;
        md-toolbar {
            box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
            right: 0;
            left: 0;
            top: 0;
            z-index: 99;
            position: fixed;
            .menu-icon {
                display: none;
                font-size: 1em;
                cursor: pointer;
                &:hover .bar2 {
                    margin-left: 0px;
                }
                .bar1,
                .bar2,
                .bar3 {
                    width: 24px;
                    height: 2px;
                    background-color: #fff;
                    margin: 6px 0;
                    transition: 0.4s;
                }
                .bar2 {
                    margin-left: 4px;
                    transition: .3s all;
                }
            }
            .menu-right {
                flex: 1 1 auto;
            }
            span {
                padding: .1em .3em;
                .material-icons:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .sidenav-container {
        border-right: 1px solid rgba(0, 0, 0, .14);
        bottom: 0;
        background: #fff;
        color: #212121;
        display: block;
        left: 0;
        position: fixed;
        top: 0;
        width: 256px;
        z-index: 999;
        overflow-y: auto;
        .logo {
            border-bottom: 1px solid rgba(0, 0, 0, .14);
            box-sizing: border-box;
            display: block;
            height: 64px;
            padding: 12px 0 11px 24px;
            position: relative;
            img,
            span,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin: 0;
            }
        }
        ul.menu {
            list-style: none;
            font-size: 13px;
            padding: 12px 0 10px;
            margin: 0;
            li {
                color: #212121;
                font-weight: 700;
                margin-top: 0;
                padding: 15px 0 15px 22px;
                cursor: pointer;
                i {
                    font-size: 2em;
                    vertical-align: middle;
                }
                &:hover {
                    background: #f2f2f2;
                }
                &.active {
                    background: #f2f2f2;
                    &:hover {
                        background: #f2f2f2;
                    }
                }
                span {
                    display: inline-flex;
                    font-size: 1.3em;
                    padding-left: .4em;
                    vertical-align: inherit;
                }
            }
        }
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .6);
        z-index: 99;
    }
    @media (max-width: 1479px) {
        .sidenav-container {
            margin-left: -256px;
            transition: .3s all;
            &.collapse {
                margin-left: 0;
            }
        }
        .sidecontent-container {
            width: 100%;
            padding-left: 0px;
        }
        .menu-icon {
            display: block !important;
        }
    }
    @media (max-width: 1024px) {
        .main-content {
            padding: 2em 2em 6em;
            .list-content {
                margin-top: 44px;
            }
        }
    }
    @media (max-width: 600px) {
        .main-content {
            padding: 30px 14px 60px;
        }
    }
}