<div class="modal-error-content">
    <i class="material-icons alert">error_outline</i>
    <h1 md-dialog-title>Error</h1>
    <md-dialog-content>
        <div class="error" *ngIf="error">
            <p>{{error.message}}</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-button class="close-button" md-dialog-close>close!</button>
    </md-dialog-actions>
</div>