@import 'variables';

/* generals */

::selection {
    background: $primary-color;
    color: $white;
}

body,
input,
button,
select,
textarea,
a,
p,
span {
    font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    margin: 0;
}

a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.3s all ease;
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    color: $primary-color-hover;
}


/* floating buttons */

.floating-button {
    width: 56px;
    height: 56px;
    font-size: 3em;
    position: fixed !important;
    bottom: 20px;
    right: 1%;
    color: $white;
    box-shadow: $button-shadow;
    background: $primary-color;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    position: relative;
    transition: .3s all;
    &.small {
        width: 44px;
        height: 44px;
    }
    &:hover {
        background: $primary-color-hover;
    }
    &.active {
        transform: rotate(180deg);
        box-shadow: $button-shadow-active;
    }
    i,
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}