/* colors */

$primary-color: #009688;
$primary-color-hover: #00877A;
$white: #fff;
$font-color: #212121;
$color-green: #7ac142;

/*buttons*/

$hover-button-bg: #ddd;

/*borders*/

$toolbar-border: #000;

/*fonts*/

$font-body: 'Raleway',
sans-serif;
$font-title: 'Montserrat',
sans-serif;

/* shadows */

$button-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
0px 4px 8px 0px rgba(0, 0, 0, 0.28);
$button-shadow-active: 0 0 4px rgba(0, 0, 0, 0.14),
0px -4px 8px 0px rgba(0, 0, 0, 0.28);
$img-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);
$img-box-shadow-active: 2px 3px 6px 1px rgba(0, 0, 0, 0.4);

/* overlay */

$overlay-black: rgba(0, 0, 0, .6);

/* modals */

$confirm-icon-color: #FDD835;
$error-icon-color: #D50000;
$accept-button:#F44336;
$accept-button-hover:#B71C1C;
$cancel-button:#888;
$cancel-button-hover:#666;

/* animations */

$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);