.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
        span.code {
        font-size: 8em;
        font-family: Monserrat;
    }
}