@import '../../core/shared/variables';
@import '../../core/shared/shared';
.success {
    max-width: 128px;
    width: 100%;
    border-radius: 50%;
    display: block;
    stroke-width: 8%;
    stroke: $color-green;
    stroke-miterlimit: 10;
    margin: 0 auto;
    animation: scale .3s ease-in-out .9s both;
    transform: scale(1);
    visibility: visible;
    height: auto;
    transition: .3s all;
    .success-circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 8%;
        stroke: $color-green;
        stroke-miterlimit: 10;
        fill: none;
        animation: stroke .8s $curve forwards;
    }
    .success-check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke .6s $curve .8s forwards;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1, 1, 1);
    }
}