<div *ngIf="hasHeaderImg;then form; else image"></div>
<ng-template #form>
    <div class="drop-image-file">
        <div ng2FileDrop class="drop-file" [ngClass]="{'placeholder-image':!uploaded}" #imageContainer (ng2FileDropFileAccepted)="dragFileAccepted($event)"
            [ng2FileDropSupportedFileTypes]="supportedFileTypes" [ng2FileDropMaximumSizeBytes]="maximumFileSizeInBytes">
            <div class="placeholder" *ngIf="!uploaded">
                <i class="material-icons">image</i>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #image>
    <div class="drop-file-container">
        <div ng2FileDrop class="drop-file" (ng2FileDropFileAccepted)="dragFileAccepted($event)" [ng2FileDropSupportedFileTypes]="supportedFileTypes"
            [ng2FileDropMaximumSizeBytes]="maximumFileSizeInBytes">
            <div class="drop-file-content">
                <div class="desc" *ngIf="!uploading || !uploaded">
                    <i class="material-icons">file_upload</i>
                    <div class="action">
                        <input class="choose-file-input" type="file" #inputFile (change)="dragFileAccepted($event)" />
                        <span class="choose-file-text"><span (click)="inputFile.click()"class="link">Choose a file</span>                        or drag it here</span>
                    </div>
                </div>
                <div class="alerts">
                    <div class="uploading" *ngIf="uploading">
                        Uploading <span>.</span><span>.</span><span>.</span>
                    </div>
                    <div class="uploaded" *ngIf="uploaded">
                        The image has been uploaded <span class="link">¿Do you want to upload another image?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>