@import '../../core/shared/variables';
@import '../../core/shared/shared';
.drop-file-container {
    width: 100%;
    .drop-file {
        width: 100%;
        min-height: 250px;
        position: relative;
        border-radius: 4px;
        padding: 10px;
        .drop-file-content {
            position: relative;
            text-align: center;
            border: 4px dotted $primary-color;
            border-radius: 4px;
            width: 100%;
            min-height: 250px;
            .desc {
                width: 100%;
                color: $font-color;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: -2%;
                i {
                    font-size: 6em;
                    color: $primary-color;
                    margin-bottom: 16px;
                }
                .action {
                    font-size: 1.4em;
                    &:hover {
                        .link {
                            color: $primary-color;
                        }
                    }
                    .choose-file-input {
                        display: none;
                    }
                    .choose-file-text {
                        font-size: 0;
                        width: 38%;
                        height: 30px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 0;
                        border: 0;
                        outline: 0;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 1;
                    }
                    .choose-file-text {
                        opacity: 1;
                        z-index: 0;
                        font-size: 1em;
                        .link {
                            font-weight: bold;
                        }
                    }
                }
            }
            .alerts {
                .uploading {
                    font-family: $font-title;
                    font-size: 1.4em;
                    font-weight: bold;
                    span {
                        font-family: $font-title;
                        font-size: 1.4em;
                        font-weight: bold;
                        animation-name: blink;
                        animation-duration: 1.4s;
                        animation-iteration-count: infinite;
                    }
                    span:nth-child(2) {
                        animation-delay: .2s;
                    }
                    span:nth-child(3) {
                        animation-delay: .4s;
                    }
                }
            }
        }
    }
}

.drop-image-file {
    .drop-file {
        width: 100%;
        height: 100%;
        position: absolute;
        &.placeholder-image {
            background: #ddd;
        }
        i {
            font-size: 3em;
            color: #666;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes blink {
    0% {
        opacity: .1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}