<div class="list-content">
    <div class="search-bar">
        <div class="search">
            <i class="material-icons search-icon">search</i>
            <input class="search-input" maxlength="100" [(ngModel)]="query" placeholder="Search">
        </div>
        <div class="filter" (click)="showCategories()">
            <i class="material-icons">filter_list</i>
        </div>
    </div>
    <div class="filter-alert" *ngIf="isFiltered">
        <span class="text">You are filtering by {{filter.es}}</span> <i class="material-icons clear-icon" (click)="getNewsList()">clear</i>
    </div>
    <div class="right-panel" *ngIf="categoriesList">
        <ul class="category-container">
            <li class="category-item" (click)="getNewsList()">Todas</li>
            <li class="category-item" (click)="searchForCategory(category)" *ngFor="let category of categories">{{category[lang]}}</li>
            <li class="category-item" (click)="searchForCategory('deleted')">Borradas</li>
        </ul>
    </div>
    <div class="news-container">
        <masonry [options]="masonryOptions" [useImagesLoaded]="true">
            <masonry-brick class="new-content" *ngFor="let newsItem of newsList | filter : 'title': query; let ind = index" [ngClass]="{'deleted':deleted === ind}">
                <news-display [news]="newsItem" (getAction)="handleActionCard($event, ind)">
                </news-display>
            </masonry-brick>
        </masonry>
    </div>
</div>
<div class="floating-button" (click)="addNew()">
    <span>+</span>
</div>
<spinner *ngIf="isLoading"></spinner>