@import '../../../core/shared/shared';
@import '../../../core/shared/variables';
.list-content {
    position: relative;
    .filter-alert {
        background-color: cornflowerblue;
        margin-top: 10px;
        color: white;
        position: relative;
        .text {
            text-align: left;
            padding: 10px;
            display: inline-block;
        }
        i.material-icons.clear-icon {
            position: absolute;
            height: 39px;
            width: 39px;
            right: 0;
            padding: 7px;
            transition: .3s all;
            &:hover {
                cursor: pointer;
                background-color: darken(cornflowerblue, 5);
            }
        }
    }
    .search-bar {
        align-items: center;
        width: 100%;
        height: 44px;
        .search {
            width: 96%;
            display: inline-block;
            float: left;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
            background: #fff;
        }
        .filter {
            width: 4%;
            height: 100%;
            display: inline-block;
            float: left;
            text-align: center;
            padding: 6px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
            background: #009688;
            cursor: pointer;
            i {
                color: #fff;
                font-size: 2em;
            }
        }
        .mat-input-underline {
            display: none !important;
        }
        .search-icon {
            vertical-align: middle;
            font-size: 1.4em;
            margin-left: 12px;
        }
        .search-input {
            vertical-align: middle;
            border: 0;
            outline: 0;
            padding: 12px 8px;
            width: 90%;
            font-size: 1em;
        }
    }
    .right-panel {
        position: absolute;
        right: 0;
        top: 56px;
        background: #fff;
        width: initial;
        height: auto;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        z-index: 9;
        .category-container {
            list-style: none;
            padding: 0;
            margin: 12px 0;
            font-size: 1em;
            font-weight: bold;
            width: 100%;
            .category-item {
                position: relative;
                cursor: pointer;
                text-decoration: none;
                display: table;
                width: 100%;
                padding: 8px 20px;
                text-transform: capitalize;
                transition: .3s all;
                &:hover,
                &.active {
                    background: #f2f2f2;
                }
            }
        }
    }
    .news-container {
        margin: 30px -10px;
        width: 100%;
        .new-content {
            width: 33%;
            padding: 1%;
            &.deleted {
                animation: deleteNew 1s forwards;
            }
            news-display {
                width: 100%;
            }
        }
    }
}

@media (max-width:1400px) {
    .list-content {
        .news-container {
            .new-content {
                width: 50%;
            }
        }
    }
}

@media (max-width:1024px) {
    .list-content {
        margin-top: 50px;
        .search-bar {
            .search {
                width: 92%;
            }
            .filter {
                width: 8%;
            }
        }
    }
}

@media (max-width:760px) {
    .list-content {
        .news-container {
            .new-content {
                width: 100%;
            }
        }
    }
}

@media (max-width:600px) {
    .list-content {
        margin-top: 70px;
        .search-bar {
            .search {
                width: 84%;
                .search-input {
                    width: 83%;
                }
            }
            .filter {
                width: 16%;
            }
        }
    }
}

@keyframes deleteNew {
    0% {
        opacity: 1;
    }
    100% {
        margin-top: -20%;
        opacity: 0;
    }
}

@keyframes rotateTumble {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes moveTumble {
    from {
        left: -110px;
    }
    to {
        height: 0;
        left: 100%;
    }
}