@import '../../core/shared/variables';
@import '../../core/shared/shared';
.images-container {
    .drop-file-component {
        display: flex;
        width: 70%;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        background: $white;
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, .7);
    }
    .images-content {
        position: relative;
        display: block;
        height: 100%;
        .image-item {
            width: 33%;
            padding: 1%;
            position: relative;
            &:hover .icon {
                opacity: 1;
            }
            img {
                box-shadow: $img-box-shadow;
                width: 100%;
            }
            .icon {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $error-icon-color;
                opacity: 0;
                cursor: pointer;
                transition: .3s all;
                i {
                    color: #fff;
                    font-size: 1em;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media (max-width: 1479px) {
    .images-container {
        drop-file {
            .drop-file-container {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 900px) {
    .images-container {
        drop-file {
            .images-content {
                .image-item {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .images-container {
        drop-file {
            .images-content {
                .image-item {
                    width: 100%;
                }
            }
        }
    }
}