<div class="images-container">
    <div class="overlay" *ngIf="displayDrop" [@slideRight]></div>
    <drop-file (fileUploaded)="fileSucces($event)" *ngIf="displayDrop" [@slideRight] class="drop-file-component"></drop-file>
    <div class="images-content" *ngIf="imagesList.length; else noResults">
        <masonry [useImagesLoaded]="true">
            <masonry-brick class="image-item" *ngFor="let image of imagesList; let ind = index"><img [src]="imageUrl + image.url" alt="">
                <div class="icon">
                    <i class="material-icons clear" (click)="removeImage(ind, image._id)">clear</i>
                </div>
            </masonry-brick>
        </masonry>
    </div>
    <ng-template #noResults>
        <h1>no Images found</h1>
    </ng-template>
</div>
<div class="floating-button" (click)="displayDrop = !displayDrop" [ngClass]="{'active': displayDrop}"><i class="material-icons" *ngIf="!displayDrop">filter_hdr</i><i class="material-icons" *ngIf="displayDrop">close</i></div>