.device-content {
    padding: 4% 4% 0;
    .mobile-container {
        background: #000;
        border-radius: 40px;
        height: 712px;
        width: 366px;
        border: 4px solid #666;
        position: relative;
        margin: 0 auto;
        .mobile-camera {
            width: 10px;
            height: 10px;
            position: absolute;
            background: #444;
            border-radius: 50%;
            left: 38%;
            top: 38px;
        }
        .mobile-speaker {
            width: 42px;
            height: 4px;
            position: absolute;
            top: 42px;
            background: #444;
            border-radius: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
        .mobile-speaker-top {
            width: 6px;
            height: 6px;
            position: absolute;
            background: #444;
            border-radius: 50%;
            top: 18px;
            left: 50%;
            transform: translateX(-50%);
        }
        .button-block {
            position: absolute;
            left: -8px;
            top: 11%;
            width: 6px;
            height: 30px;
            background: #666;
            border-radius: 30px;
        }
        .button-volume {
            position: absolute;
            right: -8px;
            top: 20%;
            width: 6px;
            height: 54px;
            background: #666;
            border-radius: 30px;
        }
        .mobile-content {
            position: relative;
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 90px;
            width: 322px;
            height: 532px;
            &.sended {
                background: #fff;
            }
            .info {
                background: #fff;
                cursor: default;
                position: relative;
                border-bottom: 1px solid #ddd;
                padding: 12px 0;
                span {
                    font-family: 'Montserrat', sans-serif;
                    &::selection {
                        background: transparent;
                    }
                }
                .battery {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    span {
                        font-size: 9px;
                        display: inline-block;
                        width: auto;
                        margin-right: 4px;
                    }
                    .material-icons {
                        font-size: 22px;
                        transform: rotate(90deg);
                        vertical-align: middle;
                    }
                }
                .signal {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    span {
                        font-size: 9px;
                        display: inline-block;
                        width: auto;
                        margin-right: 2px;
                        margin-left: 2px;
                        vertical-align: bottom;
                    }
                    .material-icons {
                        vertical-align: middle;
                        margin-right: 2px;
                        font-size: 16px;
                    }
                }
                .time {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    span {
                        font-size: 12px;
                    }
                }
            }
            .icon-success {
                margin-top: 46%;
            }
            .mobile-detail {
                background: #fff;
                width: 100%;
                height: 100%;
            }
        }
        .mobile-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            border: 2px solid #444;
            bottom: 22px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            &:active {
                border: 3px solid #444;
            }
        }
    }
}

@media screen and (min-device-width: 2000px) and (max-device-width: 2200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .form-content {
        padding-right: 620px;
    }
    .device-content {
        .mobile-container {
            width: 550px;
            height: 1012px;
            .mobile-content {
                width: 486px;
                height: 832px;
                .mobile-details {
                    height: 789px;
                    ;
                }
            }
        }
    }
}

@media screen and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .device-content {
        top: 70px;
        .mobile-container {
            width: 320px;
            height: 604px;
            .mobile-content {
                width: 280px;
                height: 432px;
                .mobile-details {
                    height: 408px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .device-content {
        .mobile-container {
            height: 654px;
            width: 350px;
            .mobile-content {
                width: 310px;
                height: 476px;
                .mobile-details {
                    height: 450px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .device-content {
        .mobile-container {
            height: 544px;
            width: 300px;
            .mobile-content {
                margin-top: 70px;
                width: 268px;
                height: 380px;
                .mobile-details {
                    height: 354px;
                }
            }
        }
    }
}