<div class="device-content">
    <div class="mobile-container">
        <div class="mobile-camera"></div>
        <div class="mobile-speaker"></div>
        <div class="mobile-speaker-top"></div>
        <div class="button-block"></div>
        <div class="button-volume"></div>
        <div class="mobile-content" #content>
            <div class="info">
                <div class="time">
                    <span>{{time | date: 'HH:mm'}}</span>
                </div>
                <div class="battery">
                    <span>100%</span><i class="material-icons">battery_full</i>
                </div>
                <div class="signal">
                    <span>2rismapps</span><i class="material-icons">network_cell</i><i class="material-icons">network_wifi</i>
                </div>
            </div>
            <!--news content-->
            <div class="mobile-details">
                <ng-content></ng-content>
            </div>
        </div>
        <div class="mobile-button"></div>
    </div>
</div>