/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: default;
    overflow-x: hidden;
    font-size: 100%;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

