<div class="news-form-container">
    <div class="img-header" *ngIf="!newObject.mainImgUrl">
        <drop-file [hasHeaderImg]=true (click)="openGallery()" (fileUploaded)="fileSucces($event)"></drop-file>
    </div>
    <div class="img-header" [style.display]="{'none': newObject.mainImgUrl}" #imageHeader>
    </div>
    <div class="news-form-content">
        <input required placeholder="Escribe el título de la noticia" required minlength="4" name="title" maxlength="100" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="newObject.title" class="title">
        <md-editor placeholder="Escribe aquí la descripción" floatingToolbar=true name="newObject.longDescription" *ngIf="editorReady"
            [initValue]="newObject.longDescription" [(value)]="newObject.longDescription"></md-editor>
    </div>
    <div class="news-form-sidebar" *ngIf="showMore" [@slideLeft]>
        <div class="section">
            <input required placeholder="Escribe la fuente de la noticia" minlength="4" name="title" maxlength="100" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="newObject.source">
        </div>
        <div class="section">
            <textarea placeholder="Escribe a aquí tu descripción corta" maxlength="200" [ngModelOptions]="{standalone: true}" [(ngModel)]="newObject.shortDescription"
                required></textarea>
        </div>
        <div class="section">
            <tagger (getTag)="setTags($event)"></tagger>
        </div>
        <div>
            <span *ngFor="let tag of newObject.categories">{{tag.text}}</span>
        </div>
        <div class="action-button">
            <button (click)="publish(false)">Save</button>
            <button (click)="publish(true)">Publish</button>
        </div>
    </div>
</div>
<div class="form-actions" [ngSwitch]="buttonState">
    <div class="floating-button small" *ngSwitchCase="0" (click)="openSideMenu()">
        <i class="material-icons">more_horiz</i>
    </div>
    <div class="floating-button small more-options" *ngSwitchCase="1" (click)="closeSideMenu()">
        <i class="material-icons">arrow_forward</i>
    </div>
</div>