@import '../../../core/shared/shared';
@import '../../../core/shared/variables';
.news-form-container {
    position: relative;
    .img-header {
        width: 100%;
        height: 400px;
        position: relative;
        cursor: pointer;
    }
    .news-form-content {
        .title {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            padding: 10px 0;
            border: 0;
            margin: 40px 0 30px;
            outline: 0;
        }
    }
    .img-gallery {
        position: absolute;
        display: table;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        margin-bottom: 60px;
        transition: .3s all;
        .gallery-item {
            width: 33%;
            padding: 1%;
            position: relative;
            &:hover .icon {
                opacity: 1;
            }
            img {
                box-shadow: $img-box-shadow;
                width: 100%;
            }
        }
    }
}

.news-form-sidebar {
    position: fixed;
    top: 60px;
    right: 0;
    width: 500px;
    height: 100%;
    background: #fff;
    padding: 30px;
    box-shadow: 1px 0px 6px 2px rgba(0, 0, 0, .26);
    overflow-y: auto;
    transition: .3s all;
    &.show {
        right: 0;
    }
    input,
    textarea {
        width: 100%;
        font-size: 1em;
        border: 0;
        padding: 14px 0;
        margin-top: 30px;
        border-bottom: 1px solid #ddd;
        &:focus {
            outline: 0;
            border-bottom: 1px solid #000;
        }
    }
    textarea {
        resize: none;
        height: 160px;
    }
    .action-button {
        margin-top: 60px;
        text-align: right;
        button {
            font-size: 1em;
            padding: 8px 20px;
            border-radius: 4px;
            border: 0;
            background: #ccc;
            color: #fff;
            outline: 0;
            cursor: pointer;
            transition: .3s all;
            &:hover {
                background: #999;
            }
        }
    }
}

.more-options {
    transition: .3s all;
    &.move {
        right: 520px;
    }
}

/deep/.mat-dialog-container {
    margin: 0 auto;
}