<div class="modal-confirm-content">
    <i class="material-icons alert">error_outline</i>
    <h1 md-dialog-title>¿Estas seguro?</h1>
    <md-dialog-content>
        <div class="question">
            <p>{{question}}</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-button class="cancel-button" (click)="dialogRef.close(false)">No!</button>
        <button md-button class="accept-button" (click)="dialogRef.close(true)">Si, lo estoy!</button>
    </md-dialog-actions>
</div>