@import '../../../core/shared/variables';
@import '../../../core/shared/shared';
.modal-confirm-content {
    width: 100%;
    padding: 0 0 20px;
    text-align: center;
    .mat-dialog-actions {
        display: inherit;
    }
    i.material-icons.alert {
        font-size: 6em;
        margin-bottom: 16px;
        color: $confirm-icon-color;
    }
    [md-dialog-title] {
        font-size: 1.6em;
        margin: 0;
    }
    [md-button] {
        padding: 0 30px;
        font-size: 1em;
        font-weight: bold;
    }
    button.accept-button {
        background: $accept-button;
        color: $white;
        &:hover {
            background: $accept-button-hover;
        }
    }
    button.cancel-button {
        background: $cancel-button;
        color: $white;
        &:hover {
            background: $cancel-button-hover;
        }
    }
}